@use '../helpers/colours' as cols;
@use '../helpers/fonts' as ft;

h1,
h2 {
    font-family: ft.$header-font;
    color: cols.$primary-ft-colour;
    font-weight: ft.$font-weight-semibold;
    margin-bottom: 2rem;
}

h1 {
    font-size: ft.$font-size-h1;
}

h2 {
    font-size: ft.$font-size-h2;
}

h3 {
    font-family: ft.$primary-font;
    color: cols.$secondary-head-ft-colour;
    font-weight: ft.$font-weight-semibold;
    font-size: ft.$font-size;
    line-height: 1.6;
}

p {
    font-family: ft.$primary-font;
    color: cols.$secondary-ft-colour;
    font-weight: ft.$font-weight-regular;
    font-size: ft.$font-size;
    line-height: 1.6;
}